<meta name="HandheldFriendly" content="true" />
<meta charset="UTF-8" />
<meta name="description" content="VibeBag — Рюкзаки, що задають твій вайб." />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="referrer" content="no-referrer-when-downgrade" />

<!-- Секція для опису тегів в соціальних мережах -->
<meta property="og:title" content="VibeBag - твої вайбові рюкзаки">
<meta property="og:type" content="website">
<meta property="og:url" content="https://davydikkes.github.io/FirstStep/">
<meta property="og:description" content="Хороший вибір вайбових рюкзаків на будь-який смак. З ними ти будеш себе відчувати комфортніше!">
<meta property="og:image" content="https://davydikkes.github.io/FirstStep/img/og/og_vibebag_740_420.png">
<meta property="og:site_name" content="VibeBag">
<meta property="og:locale" content="uk_UA">

<!-- TODO: додати open graph мета теги -->

<title>VibeBag - Рюкзаки для твого вайбу</title>

<link rel="preload" href="./css/main.css?v=3.1" as="style" />
<link href="./css/main.css?v=3.1" rel="stylesheet" />
