<meta name="HandheldFriendly" content="true" />
<meta charset="UTF-8" />
<meta name="description" content="VibeBag — Рюкзаки, що задають твій вайб." />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="referrer" content="no-referrer-when-downgrade" />

<!-- Секція для опису тегів в соціальних мережах -->
<meta property="og:title" content="VibeBag - твої вайбові рюкзаки">
<meta property="og:type" content="website">
<meta property="og:url" content="https://davydikkes.github.io/FirstStep/">

<!-- TODO: додати open graph мета теги -->

<title>VibeBag - Рюкзаки для твого вайбу</title>

<link rel="preload" href="./css/main.css?v=3.1" as="style" />
<link href="./css/main.css?v=3.1" rel="stylesheet" />
