@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: url(../fonts/MontserratBold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: url(../fonts/MontserratMedium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    font-display: swap;
    src: url(../fonts/UnboundedBlack.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
}

:root {
    --font--montserrat: 'Montserrat', sans-serif;
    --font--unbounded: 'Unbounded', cursive;
}